GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=YOUR_GPC_PROJECT_ID
GOOGLE_CLOUD_LOCATION=global
GOOGLE_CLOUD_REGION=us-central1

STATUS_MESSENGER_PUBSUB_ENABLED=false
STATUS_MESSENGER_PUBSUB_TOPIC_ID=YOUR_PUBSUB_TOPIC_ID